<%- include('partials/header') %>
	<div class="halfFrame">
		
		<div class="frameElementCentered">
			<h3>Register New User:</h3>
			<form method="post" action="/userRegister" id="form">
				<div class="formRow">
					<div class="formLabel">Username:</div>
					<input name="userName" class="formInput" id="userName"></input>
				</div>
				<div class="formRow">
					<div class="formLabel">Password:</div>
					<input name="pw" class="formInput" id="pw" type="password"></input>
				</div>
				<div class="formRow">
					<div class="formLabel">Repeat password:</div>
					<input name="pw2" class="formInput" id="pw2" type="password"></input>
				</div>
				<br>
				<div class="formRow">
					<div class="formLabel">First name:</div>
					<input name="firstName" class="formInput" id="firstName"></input>
				</div>
				<div class="formRow">
					<div class="formLabel">Last name:</div>
					<input name="lastName" class="formInput" id="lastName"></input>
				</div>
				<button type="button" id="submitButton">Register</button>
				<div class="error" id="error">
				<br>
				<% if (typeof error != "undefined") { %>
					<%= error %>
				<% } %>
				</div>
			</form>
		</div>
	</div>
	
	</main>
	<script src="/js/userRegister.js" defer></script>
<%- include('partials/footer') %>